@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  background: black;
}

h1 {  
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: .25rem;
}

#update-team-stat-form {
  text-align: center;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

#update-team-stat-form label {
  margin: 0 1rem;
  font-weight: bold;
}

#nfl-layout-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nfl-team-card {
  width: 20rem;
  font-family: 'Roboto', sans-serif;
}

.nfl-team-card h2 {
  color: white;
  text-transform: uppercase;
  letter-spacing: .15rem;
  text-align: center;
}

.nfl-team-location {
  color: white;
  text-align: center;
  margin-top: -1rem;
}

.nfl-team-img-container {
  width: 15rem; 
  height: 15rem;
  margin: auto;
}

.nfl-team-img-container img {
  width: 100%;
  height: 100%;
}

.nfl-team-stats {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  color: white;
  text-transform: uppercase;
}

/* Add Game Styles */
.add-game-form-container {
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

#add-game-form  {
  display: flex;
  justify-content: center;
  gap: .75rem;
  background: #3D348B;
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
  color: white;
}

#add-game-form button {
  border: none;
  background: #E6AF2E;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

#add-game-form button:hover {
  color: #3D348B;
}

#nfl-game-container {
  margin-top: 1rem;
}

/*  Game Card Styles */
.game-stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  width: 80%;
  margin: auto;
  border: 1px solid black;
  background: #3D348B;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.game-stats-container p {
  font-weight: normal;
  border-right: 1px solid #E6AF2E;
  padding-right: .5rem;
}